header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  background: white;
  .logo {
    display: flex;
    //justify-content: center;
    //align-items: center;
    width: 33%;
    cursor: pointer;

  }
  .search {
    width: 33%;

  }
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    flex-direction: row;
    width: 33%;
    .cart {
      position: relative;
      i {
        font-size: 25px;
        cursor: pointer;
      }
      .counter {
        cursor: pointer;
        color: white;
        font-size: 14px;
        position: absolute;
        bottom: 10px;
        left: 9px;
      }
    }
    .login {
      i {
        font-size: 25px;
        cursor: pointer;

      }
    }

  }
}
