<header>
  <div class="logo" [routerLink]="['/']" >
    <h3>logo placeholder</h3>
    <img src="" alt="">
  </div>
  <div class="search">
    <app-search></app-search>
  </div>
  <nav>
    <div class="cart">
      <i [routerLink]="['/cart']" class="bi bi-cart-fill"></i>
      <div class="counter" [routerLink]="['/cart']">
        {{cartItemsCounter}}
      </div>
    </div>
    <div class="login">
      <i [routerLink]="['/login']" class="bi bi-person-circle"></i>
    </div>

  </nav>
</header>
