/* You can add global styles to this file, and also import other style files */
//* {
//  margin: 0!important;
//}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  background: #e8e8e8;
}

.cta {
  border: none;
  background: #1c1c1b;
  color: white;
  padding: 10px 20px;

}

[nz-button] {
  background: black;
  border: black;
  &:hover {
    background: #1c1c1b;
  }
}
